{% extends 'registration_base.html' %} {% block title %}
<title>ログイン</title>
{% endblock %} {% block body %}
<div class="loginbg">
    <div class="login-container">
        <div>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
        <form method="post" class="login-form">
            <div class="form-grouplg">
                <label for="email-input">メールアドレス</label>
                <input type="text" placeholder="Email" name="email" id="email-input" />
            </div>
            <div class="form-grouplg">
                <label for="password-input">パスワード</label>
                <input type="password" placeholder="Password" name="password" id="password-input" />
            </div>
            <div class="form-actions">
                <a href="{{ url_for('signup')}}" class="signup-link">新規登録</a>
                <button type="submit" class="login-button">ログイン</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}