<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="{{url_for('static',filename='css/registration.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}"/>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"/>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>