{% extends 'registration_base.html' %} {% block title %}
<title>新規登録画面</title>
{% endblock %} {% block body %}
<div class="background">
    <form class="form-group" method="post">
        <div class="title">
            <h1>会　　員　　登　　録</h1>
        </div>
        <div class="registration-button-container"> 
            <div>
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
                </ul>
            </div>           
            {% endif %} {% endwith %} 
            <div>
                <label for="signup-name-input">お名前</label>
                <input type="text" placeholder="Name" name="name" id="signup-name-input" />
            </div>
             <div>
                <label for="signup-email-input">メールアドレス</label>
                <input type="text" placeholder="Email" name="email" id="signup-email-input" />
            </div>
            <div>
                <label for="signup-password-input">パスワード</label>
                <input type="password" placeholder="Password" name="password1" id="signup-password-input" />
            </div>
            <div>
                <label for="signup-password-confirmation-input">パスワードをもう一度</label>
                <input type="password" placeholder="password" name="password2" id="signup-password-confirmation-input" />
            </div>
            <div>
                <button class="registration_button">登　録</button>
                <a href="{{ url_for('login') }}"></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}