/* 新規登録画面のCSS */

.background {
  background-image: url(/static/img/background-registration.png);
  /* background-color: rgba(94, 84, 84, 0.8); */
  background-position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
  display: flex;
  /* align-items: center; */ */
  padding: 100%;
}

.title {
  width: 400px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  padding-left: 29%;
  padding-top: 2%;
}

.registration-button-container {
  width: 500px;
  margin: 0;
  display: inline-block;
  text-align: left;
  padding: 100px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
} 

.form-groupsg {
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-groupsg label {
  width: 150px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #8B5E3C;
}

.form-groupsg input {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 50%;
}

input::placeholder {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #B6B6B6;
}

.registration_button {
  background-color: #5bc0de;
  text-align: center;
  text-decoration: none;
  width: 120px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.flashes {
  padding-inline-start: 0;
  font-size: 18px;
  margin-bottom: 8px;
  color: rgb(198, 8, 8);
  list-style: none;
  font-weight: bold;
}