/* 新規登録画面のCSS */

.background {
  background-image: url(/static/img/background-registration.png) ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 上部に配置 */
  height: 100vh;
  margin: 0;
  position: fixed;
  overflow: hidden;
}

.title {
  width: 400px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  position: fixed;
  top: 5vh;
  left: 40%;
  right: 40%;
}

.registration-button-container {
  width: 600px;
  margin: 0px;
  display: inline-block;
  text-align: left;
  padding: 100px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 32%;
  padding-top: 16%;
  position: fixed;
} 

.form-group {
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  float: left;
}

.form-group label {
  width: 150px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #8B5E3C;
}

.form-group input {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 50%;
}

input::placeholder {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #B6B6B6;
}

.registration_button {
  background-color: #5bc0de;
  text-align: center;
  text-decoration: none;
  width: 120px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.flashes {
  padding-inline-start: 0;
  font-size: 16px;
  margin-bottom: 8px;
  color: rgb(198, 8, 8);
  list-style: none;
  font-weight: bold;
  margin-bottom: 8px;
}